<!-- 4.15.) On the notes tweeted page, within the tweeted.html template, use
            filter to display only notes that have been tweeted (i.e., having a
            tweeted property set to true). -->
<!-- 4.16.) The notes tweeted page has a search field so that users can filter
            notes. Let's take advantage of this: add an additional filter to the
            displayed notes on our notes tweeted page. -->
<!-- 4.17.) Use a filter to display the tweeted date in our p tag like so:
            Tweeted on a Monday in October. -->
<!-- 4.18.) Add the date to the end of the title attribute with another pair of
            double brackets. Format the date inside the brackets like so: Oct. 08. -->
<!-- 4.23.) Now, use our brand spankin' new popover directive to display the
            note's title on hover. -->
<div class="note-wrapper">
    <div class="note-content">
        <div class="notes-header">
            <h1 title="Notes">Tweeted Notes</h1>
            <input type="search" ng-model="searchTerm" /><label>Search</label>
        </div>

        <div class="note-wrapper">
            <a class="card-notes" ng-repeat="note in notes | filter:{tweeted: true} | filter: searchTerm" ng-href="#/notes/{{note.id}}">
                <div class="card" popover="{{note.title}} {{note.tweetedDate | date: 'MMM. dd'}}">
                    <h2 class="h3">{{note.title}}</h2>
                    <p>{{ note.tweetedDate | date:"'Tweeted on a' EEEE 'in' MMMM" }}</p>
                </div>
            </a>
        </div>
    </div>
</div>