<!DOCTYPE html>
<html ng-app="gemStore">

<head>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>

<body class="list-group" ng-controller="StoreController as store">
  <header>
    <h1 class="text-center">Flatlander Crafted Gems</h1>
    <h2 class="text-center">– an Angular store –</h2>
  </header>
  <div class="list-group-item" ng-repeat="product in store.products">
    <h3>
      {{product.name}}
      <em class="pull-right">{{product.price | currency}}</em>
    </h3>
    <!-- Image Gallery  -->
    <!-- 2.18.) Attach GalleryController to the .gallery element that wraps our gallery; use the alias gallery.  -->
    <div class='gallery' ng-show="product.images.length" ng-controller="GalleryController as gallery">
      <!-- 2.19.) Change the first ng-src directive to use the current property. Properly use current as the index instead of 0.  -->
      <img ng-src="{{product.images[gallery.current]}}" />
      <ul class="list-inline thumbs">
        <li class="thumbnail" ng-repeat="image in product.images">
          <img ng-src="{{image}}" />
        </li>
      </ul>
    </div>

    <!-- 2.9.) Attach the TabController to the <section> element with the .tab class. 
               Don't forget to also add an alias.  -->
    <section class="tab" ng-controller="TabController as tab">
      <!-- 2.10.) Trigger the setTab method when a link inside a tab is clicked.
                  Add this to each of the tab links. Pass in the number of the tab,
                  in this case 1, 2 or 3.  -->
      <!-- 2.12.) Add the active class to the correct <li> when each tab is clicked. -->
      <ul class="nav nav-pills">
        <li ng-class="{ active:tab.isSet(1) }">
          <a href ng-click="tab.setTab(1)">Description</a></li>
        <li ng-class="{ active:tab.isSet(2) }">
          <a href ng-click="tab.setTab(2)">Specs</a></li>
        <li ng-class="{ active:tab.isSet(3) }">
          <a href ng-click="tab.setTab(3)">Reviews</a></li>
      </ul>
      <!-- 2.11.) Use the isSet method to show the corresponding tab. -->
      <div ng-show="tab.isSet(1)">
        <h4>Description</h4>
        <!-- 2.13.) Within the Description tab, output the product's description within the <blockquote> element.  -->
        <blockquote>{{product.description}}</blockquote>
      </div>
      <div ng-show="tab.isSet(2)">
        <h4>Specs</h4>
        <!-- 2.14.) Within the Specs tab, output the product's shine value.  -->
        <blockquote>Shine: {{product.shine}}</blockquote>
      </div>
      <div ng-show="tab.isSet(3)">
        <h4>Reviews</h4>
        <blockquote></blockquote>
      </div>
    </section>
  </div>
</body>

</html>